/* Variables */
$green-dark: #0f352e;
$green-light: #5cbaaa;
$green: #389180;
$green-bg: #e4f9f5;

/* Colors */

.gray {
  color: #999999;
}

/* Config */
body {
  font-family: 'Philosopher', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: $green-dark
}

a {
  color: $green;

  &:hover {
    color: $green-light;
    text-decoration: none;
  }

}

p {
  font-family: 'Merriweather Sans', sans-serif;
}

.full-height {
  min-height: 100vh;
}

.green-dark {
  color: $green-dark
}

.green {
  color: $green
}

/* Custom */

.bg-felipe-lobo {
  background-image: url("../images/rio.jpg");
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}


.bg-green-light {
  background: $green-bg;
}

.bg-white {
  background: white;
}

.logo-bw {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: all 0.2s;

  &:hover {
    -webkit-filter: none;

  }
}


.stack {
  i {
    font-size: 22px;
    transition: all 0.2s;

    &:hover {
      transition: all 0.2s;

      transform: scale(1.2, 1.2);
    }
  }
}

.form-felipe-lobo {

  button {
    background: $green-dark;
    border-color: $green-dark;

    &:hover {
      background: $green-light;
      border-color: $green-dark;
    }

    &:disabled {
      background: $green-light;
      border-color: $green-dark;
    }
  }
}

.card {
  transition: all 0.2s;

  &:hover {
    transition: all 0.2s;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  }

  i {
    transition: all 0.2s;

    &:hover {
      transition: all 0.2s;
      color: $green-dark
    }
  }
}

#weather {
  position: fixed;
  width: 150px;
  top: 20px;
  right: 0;
  z-index: 99999;
  padding: 10px 0;
  background: white;
  border-radius: 5px 0 0 5px;
  box-shadow: 0px -1px 11px 4px rgba(0, 0, 0, 0.1);

  &.dark {
    background: $green-dark;

    .main-values, .more-information {
      color: $green-light
    }

  }

  .temp {
    font-family: "Merriweather Sans", sans-serif;
    font-size: 22px;
  }

  .city {
    font-family: "Merriweather Sans", sans-serif;
    font-size: 13px;

  }

  .more-information {
    font-family: "Merriweather Sans", sans-serif;
    font-size: 13px;
    text-align: center;
  }

  .main-info {
    .icon {

      font-size: 30px;
    }

    margin-left: 25px;
    margin-right: 15px;
  }
}

/* Mobile */

@media screen and (max-width: 768px) {
  .bg-felipe-lobo {
    .bg-green-light {
      background: rgba(228, 249, 245, 0.9);;
    }
  }
}